
<head>
  <title>Members</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled Javascript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

{% load staticfiles %}
<body>
  <h1>The Members of CCA are: </h1>

  <div class="row">
    {% for member in all_member %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <img src='{{ member.pics.url }}' class="img-responsive" class="img-rounded" alt="{{member.name}}" />
      <br>
      {{member.name}}
    </div>
    {% endfor %}
  </div>
</body>
